<body>

  <div *ngIf="isLoggedIn$ | async as isLoggedIn">
  
    <mat-toolbar color="primary">
      <span>
        <img src="assets/cloudRepoLogo.png" class="angular-logo">
        {{ title }}
      </span>
      <span class="fill-remaining-space"></span>
      <!-- Home button on the header -->
      <button mat-button routerLink="/home">
        <b>Home</b>
      </button>
      <!-- View button on the header -->
      <button mat-button routerLink="/report">
        <b>View Report</b>
      </button>
      <!-- Upload button on the header -->
      <button mat-button routerLink="/upload-file">
        <b>Upload Report</b>
      </button>
      <!-- Log Out button on the header -->
      <button mat-button color="accent" (click)="onLogout()" *ngIf="isLoggedIn">
        <b>Log Out</b>
      </button>

    </mat-toolbar>
  
  </div>
  
</body>

  



