<body>

  <div class="container">

    <h2> {{ orgName | uppercase }} Report</h2>

    <div id="left">

      <div ng-if="selecteddate" ng-controller="datCtrl">

        <div id="first">

          <fusioncharts 
            [id]="id" 
            [width]="width" 
            [height]="height" 
            [type]="type" 
            [dataFormat]="dataFormat" 
            [dataSource]="dataSource">
          </fusioncharts>

          <div>
            <button type="button" class="btnBack" (click)="goBack()">Back</button>
            <button type="button" class="btnDelete" (click)="deleteReport()">
               Delete {{ orgName }} Report
            </button>
          </div>

        </div>

        <div id="second">

          <table id="repotable" align="center">

            <thead>
              <tr>
                <th [class.active]="order === 'size'" (click)="setOrder('size')" class="mdl-data-table__cell--non-numeric">
                  Size
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>
                </th>
                
                <th [class.active]="order === 'date'" (click)="setOrder('date')">
                  Date
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>
                </th>
              </tr>
            </thead>

            <tr *ngFor="let report of reportByNames | orderBy : order : reverse">
              <td>{{ report.size | fileSize }}</td>
              <td>{{ report.date | date : "MMMM d, y" }}</td>
            </tr>
          </table>

        </div>

      </div>

    </div>

  </div>

</body>



