<div id="container">

  <div ng-if="selectedreport" ng-controller="datCtrl">

    <h2> {{ orgName | uppercase }} Report </h2>

    <table id="repotable" align="center">

      <thead>

        <tr>
          <th [class.active]="order === 'report.size'" (click)="setOrder('report.size')" class="mdl-data-table__cell--non-numeric">
            Size
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>

          <th [class.active]="order === 'report.date'" (click)="setOrder('report.date')">
            Date
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>

        </tr>

      </thead>

      <tr *ngFor="let report of reportByNames | orderBy: order:reverse:'caseInsensitive'">
        <td>{{ report.size | fileSize }}</td>
        <td>{{ report.date | date : "MMMM d, y" }}</td>
      </tr>
    </table>

  </div>

  <div>
    <button type="button" class="btnBack" (click)="goBack()">Back</button>
    <button type="button" class="btnDelete" (click)="deleteReport()">
      Delete {{ orgName }} Report
    </button>
  </div>

<h1>
  {{title}}
</h1>
<fusioncharts
    [id]="id"
    [width]="width"
    [height]="height"
    [type]="type"
    [dataFormat]="dataFormat"
    [dataSource]="dataSource"
></fusioncharts>

</div>



