mat-card {
  max-width: 300px;
  margin: 2em auto;
  text-align: center;
  border-radius: 10px;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
body {
  height: 100%;
}
.limiter {
  width: auto;
  margin: 0 auto;
}

.container-login100 {
  width: auto;  
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: url(/assets/bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/*
button {
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; 
  background: #a64bf4;
  background: -webkit-linear-gradient(#00dbde, #fc00ff, #00dbde, #fc00ff);
}

button:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

iframe {
	border: none !important;
}


.container-login100 {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  background: url(/assets/bg-01.jpg) no-repeat center;
}
*/

/*------------------------------------------------------------------
[ Button ]*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -o-linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}
