/********************************************************************************************/
/* main app page css                                                                        */
/********************************************************************************************/
body {
  width: 60%;
  margin: auto;
  padding: 10px;
}

*{ text-align: center; }

h1 {
  color: #369;
  font-size: 200%;
  font-style: italic;
  font-family: sans-serif;
}

nav a {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  background-color: #eee;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active { color: #039be5; }

nav a:visited, a:link { color: #607D8B; }
/********************************************************************************************/
