/********************************************************************************************/
h3 {
  color: #80bfff;
  text-align: center;
}

header {
  background: black;
  text-align: center;
}

.container {
    margin: auto;
    width: fit-content;
}

/********************************************************************************************/
/* css to display two blocks on the page                                                    */
/********************************************************************************************/
*{ text-align: center; }

#left {
  float: left;
  width: fit-content;
  height: fit-content;
  padding-right: 50px;
}

#right {
  float: left;
  width: fit-content;
  height: fit-content;
}

#first {
    width: auto;
    float: left;
    height: auto;
    text-align: center;
}

#second {
    width: auto;
    float: left;
    height: auto;
}

#third {
    float: left;
    height: auto;
    width: fit-content;
    padding-right: 50px;
}

#forth {
  float: left;
  height: auto;
  width: fit-content;
}
/********************************************************************************************/
/* button CSS style                                                                         */
/********************************************************************************************/
button {
    border: none;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    background-color: #b30000;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/********************************************************************************************/
/* loader spinner css                                                                       */
/********************************************************************************************/
.loader {
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    position: fixed;
    margin-top: -9em;                         /* set to a negative number 1/2 of the height */
    margin-left: -15em;                        /* set to a negative number 1/2 of the width */
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/********************************************************************************************/
/* CSS style that display the list of organization in a fashiion way                        */
/********************************************************************************************/
.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.list-org {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 5px;
    width: 15em;
}

.list-org li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em;
    height: 1.6em;
    border-radius: 4px;
    font-weight: bold;
}

.list-org .text {
    position: relative;
    top: -3px;
}

.list-org li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.list-org li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

*{
  text-align: center;
}

.org-list {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/********************************************************************************************/

