<body>

  <popup #popupViewByDate (confirmClick)="ConfirmDeleteEvent()" (cancelClick)="CancelDeleteEvent()">
    <b>Are you sure you want to delete {{ date | date : "MMMM d, y" }} report permanently?</b>
  </popup>

  <div class="container">

    <h2> {{ date | date : "MMMM d, y" }} Report</h2>
  
    <div id="left">
  
      <div ng-if="selecteddate" ng-controller="datCtrl">
  
        <div id="first">
  
          <fusioncharts 
            [id]="id" 
            [type]="type"
            [width]="width" 
            [height]="height"  
            [dataFormat]="dataFormat" 
            [dataSource]="dataSource"
          ></fusioncharts>
  
          <div>
            <button type="button" class="btnBack" (click)="goBack()">Back</button>
            <button type="button" class="btnDelete" (click)="deleteReport()">
              Delete {{ date | date : "MMMM d, y" }} Report
            </button>
          </div>
  
        </div>
  
        <div id="second">
  
          <table id="repotable" align="center">
  
            <thead>
              <tr>
                <th [class.active]="order === 'organization'" (click)="setOrder('organization')">
                  Organization
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>
                </th>
                
                <th [class.active]="order === 'size'" (click)="setOrder('size')">
                  Size
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>
                </th>
              </tr>
            </thead>
  
            <tr *ngFor="let report of reportByDate | orderBy : order : reverse">
              <td>{{ report.organization }}</td>
              <td>{{ report.size | fileSize }}</td>
            </tr>
          </table>
  
        </div>
  
      </div>
  
    </div>
  
  </div>

</body>

