/********************************************************************************************/
h3 {
  color: #80bfff;
  text-align: center;
}

header {
  background: black;
  text-align: center;
}

.container {
    margin: auto;
    width: fit-content;
}

body { text-align: center; }
/********************************************************************************************/
/* css to display two blocks on the page                                                    */
/********************************************************************************************/
*{ text-align: center; }

#left {
  float: left;
  width: fit-content;
  height: fit-content;
  padding-right: 50px;
}

#right {
  float: left;
  width: fit-content;
  height: fit-content;
}

#first {
    width: auto;
    float: left;
    height: auto;
    text-align: center;
}

#second {
    width: auto;
    float: left;
    height: auto;
    padding-top: 10px;
}

#third {
    float: left;
    height: auto;
    width: fit-content;
    padding-right: 50px;
}

#forth {
  float: left;
  height: auto;
  width: fit-content;
}
/********************************************************************************************/
/* button CSS style                                                                         */
/********************************************************************************************/
button {
    border: none;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
}

.btnBack { background-color: #2952a3; }

.btnDelete { background-color: #b30000; }

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/********************************************************************************************/
/* Table CSS                                                                                */
/********************************************************************************************/
#repotable th {
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2952a3;
}

#repotable td, #repotable th {
    padding: 8px;
    border: 1px solid #ddd;
}

#repotable tr:hover { background-color: #ddd; }

#repotable tr:nth-child(even) { background-color: #f2f2f2; }

#repotable { 
    width: fit-content;
    margin-bottom: 15px;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/********************************************************************************************/
