<body>

  <div class="container">

    <div id="left">

      <div id="first">

        <div class="form-org">

          <form>
            <fieldset>
              <legend>
                <span class="number"></span>View Report By Name 
              </legend>
              <br>
              <input type="text" name="search" placeholder="Search..." [(ngModel)]="filter">
            </fieldset>

            <ul class="list-org">
              <li *ngFor="let report of ListOfOrganizationInReport | filter:filter | orderBy : ['organization'] | paginate: { itemsPerPage: 5, currentPage: p }"
                [class.selected]="report === selectedreport" (click)="onSelect(report, getreportByName(report.organization))" [routerLink]="['/detail', report.organization]">
                {{ report.organization }}
              </li>
            </ul>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            
          </form>

        </div>
        
      </div>

      <div id="second">

        <div class="form-style-5">
          <form #myform="ngForm" (ngSubmit)="viewReport()" novalidate>
            <fieldset>
              <legend>
                <span class="number">!</span>View By Date
              </legend>
              <label for="date">'Report dates are marked with a red dot on the calender'</label><br>
              <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholder="Select date.." [(ngModel)]="model" required></my-date-picker>
              <p class="error" *ngIf="!myform.valid">Date is required!</p>
            </fieldset>
            <br>
            <div>
              <!-- button to trigger the file upload when submitted -->
              <button type="button" class="btn btn-success btn-s" type="submit">View Report</button>
            </div>
          </form>
        </div>
        
      </div>

    </div>

  </div>

</body>