<body>

  <div class="container">

    <div id="first">
      <!--
      <div *ngIf="selectedReport">
        <h2>{{ selectedReport.organization | uppercase }} Report Details</h2>
        <div>
          <span>Size of bits used: </span>
          <b>{{selectedReport.size}}</b>
        </div>
      </div>
    -->
    </div>

    <div id="second">

      <table>
        <tr>
          <th>Organization</th>
          <th>Memory space used (in bit)</th>
          <th>Date</th>
        </tr>

        <tr *ngFor="let report of reportByNames">
          <td>{{ report.organization }}</td>
          <td>{{ report.size} }</td>
          <td>{{ report.date }}</td>
        </tr>
      </table>

    </div>

    <div>
      <button (click)="goBack()">Back</button>
    </div>

  </div>

</body>
